@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

html, #root {
    background-color: cornsilk;
    font-family: 'comic-sans', cursive
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.navLogo {
    width: 150px;
}

.navLogo > img {
    width: 100%;
    height: auto;
}

.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0;
}

.userCard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.postCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.details-container {
    display: flex;
}

.userimg {
    padding-right: 20px;
}

.userimg > img {
    height: 70px;
    width: auto;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px ;
}

.user-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    border: 1px solid #373737;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px #747272;
    background: white;
}

.post-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid #373737;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 1px 1px 2px 1px #747272;
    background: white;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.std-btn {
    display: block;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: lightgoldenrodyellow;
    width: 125px;
    height: 30px;
    border-radius: 30px;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 1px 1px 2px 1px #747272;

}

.std-btn:hover {
    background-color: goldenrod;
}

.tag-btn {
    display: block;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: lightgoldenrodyellow;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 1px 1px 2px 1px #747272;

}

.tag-btn:hover {
    background-color: goldenrod;
}

.post-btn {
    display: block;
    color: black;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: lightgoldenrodyellow;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    font-size: .8rem;
    font-weight: 500;
    box-shadow: 1px 1px 2px 1px #747272;
    margin: 5px 0;
}

.post-btn:hover {
    background-color: goldenrod;
}

.displayName {
    color:goldenrod;
    text-decoration: none;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.admin {
    color: red;
}

.view {
	box-shadow:inset 0px 1px 0px 0px #373737;
	background-color:#000000;
	border-radius:39px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:12px;
	padding:5px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #373737;
}

.view:hover {
	background-color:#161616;
}

.view:active {
	position:relative;
	top:1px;
}

.usersContainer {
    display: flex;
    justify-content: center;
}

.tagz {
    display: flex;
    justify-content: center;
}

.users-header, .tagzHeader {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.status-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.login-form, .registration-form {
    display: flex;
    justify-content: center;
}

fieldset {
    width: 20%;
}

.userEditDropdown {
    width: 42%;
    margin-bottom: 20px;
}

.editUsersContainer, 
.usersContainer, 
.tagsListContainer, 
.tagzDeleteContainer,
.backBtn,
.postContainer {
    display: flex;
    justify-content: center;
}

.tagsList {
    width: 40%;
}

.tagName {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagCardContainer {
    display: flex;
    justify-content: space-between;
}

.post {
    width: 70%;
}

.postBtns {
    padding: 20px 0;
}

.users-table, 
.tagCard, 
.userDetailCard, 
.post {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px 40px;
    box-shadow: 3px 3px 5px;
}

.tagCard {
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 20px;
    box-shadow: 3px 3px 5px;
}

.users-container {
    width: 40%;
}

.actionBtns {
    width: 100%;
    padding: 0 15px;
}

#name {
    resize: none;
}

.userDetailImg > img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 3px 5px ;
}

.userDetailHeader {
    display: flex;
}

.userDetailInfo {
    margin-left: 100px;
}

.actualBackBtn {
    width: 50%;
    margin-top: 20px;
}